Source: kamerka
Section: kde
Priority: optional
Maintainer: Sebastian Krzyszkowiak <dos@dosowisko.net>
Build-Depends: debhelper (>= 7.0.50~), cmake, kdelibs5-dev (>= 4:4.6), libqt4-dev (>= 4:4.7), libv4l-dev, libgcrypt11, pkg-config
Standards-Version: 3.9.2
Homepage: http://dos1.github.com/kamerka/
Vcs-Git: git://github.com/dos1/kamerka.git
Vcs-Browser: http://github.com/dos1/kamerka

Package: kamerka
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Recommends: dolphin, gimp, inkscape
Suggests: kdebase-workspace-bin
Description: shiny photo taking application
 Kamerka is an KDE application, using Video4Linux to get image from webcam
 and able to save photos. It features easy to use, animated user interface.
