[Desktop Entry]
Type=Application
Version=1.0
Name=Kamerka
Name[sr]=Камерка
Name[sr@ijekavian]=Камерка
GenericName=Taking photos with the webcam
GenericName[pl]=Robienie zdjęć kamerką internetową
GenericName[sr]=Хватање фотографија са веб-камере
GenericName[sr@ijekavian]=Хватање фотографија са веб-камере
GenericName[sr@latin]=Hvatanje fotografija sa veb-kamere
GenericName[sr@ijekavianlatin]=Hvatanje fotografija sa veb-kamere
Exec=kamerka
Comment=Fancy-looking animated application for taking photos from webcam
Comment[pl]=Fajnie wyglądająca, animowana aplikacja do robienia zdjęć kamerką internetową
Comment[sr]=Апликација лепог изгледа за хватање фотографија са веб-камере
Comment[sr@ijekavian]=Апликација лијепог изгледа за хватање фотографија са веб-камере
Comment[sr@latin]=Aplikacija lepog izgleda za hvatanje fotografija sa veb-kamere
Comment[sr@ijekavianlatin]=Aplikacija lijepog izgleda za hvatanje fotografija sa veb-kamere
Icon=kamerka
Terminal=false
Categories=Qt;KDE;AudioVideo;Recorder;Video;
