[Desktop Entry]
Type=Application
Version=0.5
Name=Kamerka
GenericName=Taking photos with webcam
Exec=kamerka
Comment=Fancy-looking animated application for taking photos from webcam
Icon=camera-web
Terminal=false
Categories=Qt;KDE;AudioVideo;Video;
